{% extends "base.html" %}

{% block content %}
<h2>Projects</h2>
<ul>
    <li><a href="https://github.com/mmmckie/jhu_software_concepts/tree/main/module_1">EN.605.256 Module 1 Assignment: Personal Website</a>
      <p>This website was designed using Flask in Python along with HTML and CSS files.
        Each webpage inherits from the same base.html template in the 'templates/' folder,
        and are themselves stored in 'templates/pages/'. All stylization is controlled
        via the style.css file located in the 'static/' folder and page routing is
        implemented using Flask blueprints.
      </p>
    
</ul>
<h2>Publications</h2>
<ul>
    <li><a href="https://www.nature.com/articles/s41598-021-86523-5">Microcoulomb laser plasma accelerator on OMEGA EP</a>
      <p>J. L. Shaw, M. A. Romo-Gonzalez, N. Lemos, P. M. King, G. Bruhaug, K. G. Miller, C. Dorrer, B. Kruschwitz, L. Waxer, G. J. Williams, M. V. Ambat, <b>M. M. McKie</b>, M. D. Sinclair, W. B. Mori, C. Joshi, Hui Chen, J. P. Palastro, F. Albert & D. H. Froula</p>
      <p><a href="https://www.nature.com/ncomms">Scientific Reports</a> 11, Article number: 7498 (2021)</p></li>
      <li><a href="https://www.nature.com/articles/s41467-019-11186-w">2D semiconductor nonlinear plasmonic modulators</a>
      <p>M. Klein, B. H. Badada, R. Binder, A. Alfrey, <b>M. McKie</b>, M. R. Koehler, D. G. Mandrus, T. Taniguchi, K. Watanabe, B. J. LeRoy & J. R. Schaibley</p>
      <p><a href="https://www.nature.com/ncomms">Nature Communications</a> 10, Article number: 3264 (2019)</p>
    </li>
</ul>
{% endblock %}
