
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #4d4950;  /* Light gray background */
    color: #eaff0079;  /* Dark yellow text */
}

/* Make headers and bolded items stand out */
h1, h2, b {
    color: #ecff1edf;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    background-color: #333;
    padding: 10px;
}

/* Setting default navbar style for inactive pages */
.navbar a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

/* Setting active page highlight style on navbar */
.navbar a.active {
    color: #9dff004f;
    font-weight: bold;
}

.content {
    padding: 20px;
}

.home-container {
    display: flex;
}

/* Making sure bio isn't squished, takes up adequate space on screen */
.bio {
    width: 80%;
}

.photo img {
    width: 200px;        /* Control width */
    height: auto;        /* Keeps aspect ratio */
    border-radius: 200px; /* Setting corner radius to crop black corners in pic */
}

.email_icon img {
    width: 20px;        /* Control width */
    height: auto;        /* Keeps aspect ratio */
    filter: invert(29%) sepia(93%) saturate(1900%) hue-rotate(190deg);
}

.email_icon {
    display: inline-block; /* Ensure icon is on same line as email address */
    vertical-align: middle;
}

.linkedin_icon img {
    width: 20px;        /* Control width */
    height: 20px;        /* Force to be square */
    filter: invert(29%) sepia(93%) saturate(1900%) hue-rotate(190deg);
}

.linkedin_icon {
    display: inline-block; /* Ensure icon is on same line as LinkedIn link */
    vertical-align: middle;
}

/* Setting hyperlink color */
a {
    color: #02cb8c;
}

/* Shrinking whitespace a bit between paragraphs within a list item */
li p {
    margin-bottom: 4px;
    margin-top: 4px;
}

/* Add extra space after last paragraph in each list item */
li p:last-child {
    margin-bottom: 30px;
}

/* Remove extra space after very last list item */
ul li:last-child {
    margin-bottom: 0;
}
