
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #4d4950;  /* Light gray background */
    color: #eaff0079;  /* Dark yellow text */
}

/* Make headers and bolded items stand out */
h1, h2, b {
    color: #ecff1edf;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    background-color: #333;
    padding: 10px;
}

/* Setting default navbar style for inactive pages */
.navbar a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

/* Setting active page highlight style on navbar */
.navbar a.active {
    color: #eaff0079;
    font-weight: bold;
}

.content {
    padding: 20px;
}

.home-container {
    display: flex;
}

/* Making sure bio isn't squished, takes up adequate space on screen */
.bio {
    width: 80%;
}

.photo img {
    width: 200px;        /* Control width */
    height: auto;        /* Keeps aspect ratio */
    border-radius: 200px; /* Setting corner radius to crop black corners in pic */
}

/* Setting hyperlink color */
a {
    color: #02cb8c;
}
